.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number]{
-moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
-webkit-box-shadow: 0 0 0 50px #fff inset;
-webkit-text-fill-color: #1b1b1b;
}



.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-rounded.MuiPaginationItem-colorPrimary.MuiPaginationItem-textPrimary.MuiPaginationItem-page.css-839cm4-MuiButtonBase-root-MuiPaginationItem-root{
  border: none !important;
  outline: none !important;

}
.MuiButtonBase-root.Mui-disabled.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-rounded.MuiPaginationItem-colorPrimary.MuiPaginationItem-textPrimary.Mui-disabled.MuiPaginationItem-previousNext.css-839cm4-MuiButtonBase-root-MuiPaginationItem-root{
  border: none !important;
  outline: none !important;
}


.dark_mode_background_color{
  background-color: #343332;
}

.dark_mode_primary_color{
  color: #ffae18;
}
.dark_mode_secondary_color{
  color: #fff;
}

.MuiBox-root.css-4xhsyr{
  min-height: 100vh !important;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root.css-1wb3frw-MuiButtonBase-root-MuiBottomNavigationAction-root{
border: none !important;
outline: none !important;
}