.sidebar {
    background: #eeeeee;
    height: 100%;
    position: fixed;
  }
  .sidebar-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .sidebar-border {
    border-right: 1px dotted #bec8d0 !important;
  }
  .menu1 {
    margin-top: 10px;
  }
  .menu1:hover {
    background-color: inherit;
  }
  .main-toolbar {
    width: calc(100% - 95px);
    background-color: transparent !important;
    box-shadow: none;
    position: fixed;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
      margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background-color: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(8px);
    z-index: 1200;
  }
  .drawer-open {
    width: calc(100% - 170px) !important;
  }
  .toggle-drawer-btn {
    background-color: rgba(0, 0, 0, 0.04) !important;
    padding: 8px;
    border-radius: 8px;
  }
  .menu-item {
    color: #757575;
    text-decoration: none;
    font-weight: 400;
  }
  .menu-item:hover {
    background-color: #e0e0e0 !important;
    color: black; /* Hover color */
    text-decoration: none; /* Add underline on hover */
  }
  .active-menu-item {
    background-color: #e0e0e0 !important;
    color: black !important;
  }
  @media (max-width: 767px) {
    .main-toolbar {
      width: 100% !important;
    }
    .drawer-open {
      width: 100% !important;
    }
  }